@import 'variables';

.announcement {
  width: 100%;
  padding: 1.5rem;
  color: $announcement;
  min-height: 5rem;
  position: relative;
  font-size: 1.4rem;

  .bar {
    height: 0.5rem;
    width: 100%;
    background-color: $green;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.announcement + .announcement {
  margin-top: 0.5rem;
}

.info {
  background-color: $lightblue;
}

.success {
  background-color: $lightgreen;
}

.warning {
  background-color: $lightyellow;
}

.error {
  background-color: $lightred;
}
